<%- include('parts/header') %>
<%- include('parts/navbar') %>
    <section>
        <div class="container">
            <div class="text-center">Hello</div>
            <a href="/signup">Signup</a>
            <a href="/signup/bdate">bdate</a>
        </div>
    </section>

<%- include('parts/footer') %>
