<%- include('parts/header') %>
<%- include('parts/navbar') %>

<section class="my-2 profile">
    <div class="container">
        <div class="row w-75 mx-auto align-items-center">
            <div class="col-3">
                <label class="profile-label">
                    <input id="profile_photo" type="file" accept="image/*" class="visually-hidden">
                    <img src="/img/profile-img.jpg" class="rounded-circle" width="150" height="150" alt="Avatar">
                </label>
            </div>
            <div class="col-6 p-lg-4">
                <header class="d-flex align-items-center">
                    <p class="fs-4 fw-light m-0">mabrur.h11</p>
                    <div>
                        <a class="btn ms-4 p-0 py-1 border profile-edit profile-outline-none" href="./edit">Edit profile</a>
                        <button class="btn ms-2 profile-outline-none">
                            <img src="/img/setting.svg" alt="Settings icon" width="30" height="30">
                        </button>
                    </div>
                </header>
                <div class="d-flex mt-2">
                    <p class="m-0 btn ps-0"><strong>4</strong> posts</p>
                    <a class="btn profile-outline-none" href="./followers"><strong>607</strong> followers</a>
                    <a class="btn profile-outline-none" href="./following"><strong>274</strong> following</a>
                </div>
                <div class="mt-2">
                    <p class="profile-name mb-1">Мабрур Хайитбаев</p>
                    <p class="m-0">🕸 Web developer</p>
                    <a class="m-0 text-decoration-none profile-name" href="/">www.fcb.uz</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-3 py-3 pb-0">
        <div class="row w-75 mx-auto align-items-center">
            <nav class="profile-tab">
                <div class="nav nav-tabs justify-content-center border-0" id="nav-tab" role="tablist">
                    <button class="nav-link active align-items-center" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        <p class="m-0 ms-2"><i class="icon-pixels"></i> Posts</p>
                    </button>
                    <button class="nav-link align-items-center" id="nav-contact-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">
                        <p class="m-0 ms-2"><i class="icon-bookmark1"></i> Saved</p>
                    </button>
                    <button class="nav-link align-items-center" id="nav-upload-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-upload" type="button" role="tab" aria-controls="nav-upload" aria-selected="true">
                        <p class="m-0 ms-2"><i class="icon-add"></i> New Post</p>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="user">
    <div class="container">
        <div class="row w-75 mx-auto align-items-center">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row mt-1">
                        <div class="col-lg-4 col-md-4 col-6 mb-4 user-post">
                            <div class="card border-0">
                                <a class="d-block" href="/posts/id">
                                    <img src="/img/post1.jpg" alt="User image" class="card-img-top rounded-0">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 mb-4 user-post">
                            <div class="card border-0">
                                <a class="d-block" href="/posts/id">
                                    <img src="/img/post2.jpg" alt="User image" class="card-img-top rounded-0">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 mb-4 user-post">
                            <div class="card border-0">
                                <a class="d-block" href="/posts/id">
                                    <img src="/img/post3.jpg" alt="User image" class="card-img-top rounded-0">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 mb-4 user-post">
                            <div class="card border-0">
                                <a class="d-block" href="/posts/id">
                                    <img src="/img/profile-img.jpg" alt="User image" class="card-img-top rounded-0">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                <div class="tab-pane fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-12">
                            <form action="/upload" class="mt-4 pt-4" method="POST">
                                <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" name="body"
                                          id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Post body</label>
                                </div>
                                <div class="my-3">
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <button class="mt-4 btn btn-primary w-100 p-2">Publish post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('parts/footer') %>
