<%- include('parts/header') %>
<% var error %>

<section class="vh-100 d-flex flex-column justify-content-center align-items-center login">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 d-lg-block d-none login-background">
            </div>
            <div class="col-lg-4 col-12">
                <div class="card text-center p-4">
                    <img src="img/instagram-logo.png" alt="Instagram" class="registration-logo mx-auto">
                    <form class="mt-4" method="POST">
                        <% if(error) {%>
                            <div class="alert alert-danger">
                                <%= error %>
                            </div>
                        <% } %>
                        <input type="text" name="login" class="form-control my-3 bg-light" placeholder="Username or Phone number">
                        <input type="password" name="password" class="form-control my-3 bg-light"
                               placeholder="Password">
                        <button type="submit" class="btn btn-primary w-100">
                            Login
                        </button>
                    </form>
                    <p class="mt-4 text-muted">By log in, you agree to our <a target="_blank"
                                                                              href="https://help.instagram.com/581066165581870" class="text-decoration-none" tabindex="0">Terms</a> , <a
                                target="_blank" href="https://help.instagram.com/519522125107875" class="text-decoration-none" tabindex="0">Data
                            Policy</a> and <a target="_blank" href="/legal/cookies/" class="text-decoration-none" tabindex="0">Cookies Policy</a> .
                    </p>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-12">
                        <div class="card d-flex text-center p-4 align-items-center">
                            <p class="m-0 p-0">Don't have an account? <a href="/signup" class="text-decoration-none">Sign up</a></p>
                        </div>
                    </div>
                </div>
                <div class="login-footer">
                    <p class="my-3 text-center">Download app.</p>
                    <ul class="d-flex list-unstyled m-0">
                        <li class="mx-2 w-100">
                            <a href="/" class="d-block text-end">
                                <img src="/img/appstore.png" alt="download" class="w-75">
                            </a>
                        </li>
                        <li class="mx-2 w-100">
                            <a href="/" class="d-block">
                                <img src="/img/googleplay.png" alt="download" class="w-75">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('parts/footer') %>
