$background-color: #fafafa;


body {
  background-color: $background-color;
}

.registration {
  &-logo {
    width: 70%;
    height: 70%;
  }
  &-slogan {
    font-size: 17px;
  }
}

.navbar {
  &-search {
    height: 30px;
    border-radius: 2px;
  }
  &-search::-webkit-input-placeholder {
    font-size: 12px;
    position: absolute;
    left: 40%;
  }
  &-logo {
    width: 100px;
  }
  &-list {
    margin: 0 8px;
    &-img {
      width: 20px;
      height: 20px;
    }
  }
}

.login {
  &-background {
    background-image: url("../img/login-background.png");
    height: 660px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
}
